<div class="root">
    <h1 class="headline">Nebenläufigkeit</h1>
    <markdown ngPreserveWhitespaces>
        Nebenläufige Programmierung ermöglicht es, mehrere Prozesse Parallel auf demselben Datensatz arbeiten zu lassen.
        Vorteile des Nebenläufigen-Programmierens sind bessere Leistung, Skallierbarkeit und Fehlertoleranz.

        Im Kontext meiner Arbeit stellt sich hier jedoch nicht die Frage wie es funktioniert, sondern wo die
        Funktionale-Programmierung im Kontext der Nebenläufigkeit eine Rolle spielt.
        
        **Funktionaler Aspekt**
        - Immutability: Die Prozesse dürfen nichts an den Daten ändern, da andere Prozesse auch mit diesen Daten arbeiten, und diese nicht manipuliert sein sollten.

        - Pure Functions: Die Prozesse müssen immer dasselbe Ergebnis liefern ((Dazu am besten eine Darstellung mit Mengen))

        - Deklarative Programmierung: Funktionen sind in ihrer Deklaration nachvollziehbar.
        
        Um nun die **Nebenläufigkeit** interaktiv zu veranschaulichen, ist im folgenden eine Anwendung, die *Tasks* entgegen nimmt
        und diese dann - abhängig von dessen Dauer - nach dem Shortest-Job-First Prinzip organisiert.

        Für mehr Informationen zum Algorithmus, siehe Lastenheft auf GitHub.
    </markdown>
    <form [formGroup]="profileForm" class="taskdataform" action="">
        <input formControlName="name" id="name" type="text" placeholder="Name des Tasks">
        <input formControlName="duration" id="duration" type="number" placeholder="Dauer des Tasks">
        <button (click)="addTask()">Add</button>
    </form>
    <br>
    <div class="displaytasks" *ngFor="let task of tasks">
        <p>{{ task.name }}</p>
        <p>{{ task.duration }}</p>
    </div>
    <button (click)="submitTasks()">Submit Tasks</button>
    <br>
    <div class="finishedscheduling">
        <p>Hier kommt das fertige Ergebnis hin</p>
    </div>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close="">Schließen</button>
    </mat-dialog-actions>
</div>