<div class="root">
    <form [formGroup]="profileForm" class="taskdataform" action="">
        <input formControlName="name" id="name" type="text" placeholder="Name des Tasks">
        <input formControlName="duration" id="duration" type="number" placeholder="Dauer des Tasks">
        <button (click)="addTask()">Add</button>
    </form>
    <br>
    <div class="displaytasks" *ngFor="let task of tasks">
        <p>{{ task.name }}</p>
        <p>{{ task.duration }}</p>
    </div>
    <button (click)="submitTasks()">Submit Tasks</button>
    <br>
    <div class="finishedscheduling">
        <p>Hier kommt das fertige Ergebnis hin</p>
    </div>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close="">Schließen</button>
    </mat-dialog-actions>
</div>