<div class="root">
    <span class="loader" *ngIf="!isLoaded"></span>
    <h1 *ngIf="hasHeadline">{{headline}}</h1>
    <div class="temp" *ngIf="isLoaded && hasMarkdown" >
        <markdown  *ngIf="isLoaded && hasMarkdown">
            {{description}}
        </markdown>
        <button (click)="openAuth(description)">Edit Markdown</button>
    </div>
    <div class="application" *ngIf="hasApplication">
    </div>
    <div class="hasSvg" *ngIf="hasSvg">
        <button (click)="openSVG(headline)">Open Map</button>
    </div>
</div>