<div class="root">
    <h1 class="headline">Datenintesive Operationen</h1>
    <markdown ngPreserveWhitespaces>
        Map-Reduce ist ein funktionales Konzept, um mit großen Datenmengen zu arbeiten. 
        Hierbei werden Daten nur ausgelesen und nicht verändert, sodass Nebenläufige ausführungen auf
        der Datenmenge möglich sind.
        

        ```
            let temp = 5;
        ```
        Abstraktion für Map Reduce
        immutability, higher-order functions
    </markdown>
</div>