<div class="root">
    <form action="" [formGroup]="dsForm" class="vsdataform">
        <div class="row">
            <label for="pid1">Prozess</label>
            <input formControlName="pid" id="pid1" type="text" placeholder="Pid">
            <input formControlName="message" type="text" placeholder="Message">
            <input formControlName="requiredfor" type="text" placeholder="Required for:">
            <button id="addButton" (click)="addMessages()">Add</button>
        </div>
        <button (click)="submitMessages()">Submit</button>
    </form>
    <div class="messageDisplazer">
        <div class="displayMessages" *ngFor="let msg of pidMessages">
            {{msg.pid}}
            {{msg.message}}
            {{msg.requiredfor}}
        </div>  
    </div>
</div>