<div class="root">
    <form action="" [formGroup]="dsForm" class="vsdataform">
        <div class="row">
            <label for="pid1">Prozess</label>
            <input formControlName="pid" id="pid1" type="text" placeholder="Pid">
            <input formControlName="message" type="text" placeholder="Message">
            <button id="addButton" (click)="addMessages()">Add</button>
        </div>
        <button (click)="submitMessages()">Submit</button>
    </form>
    <div class="closing">
        <mat-dialog-actions>
            <button mat-button mat-dialog-close="">Schließen</button>
        </mat-dialog-actions>
    </div>
</div>