.root {
    padding: 10px;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row *:not(:last-child) {
    padding: 10px;
    margin: 10px;
}


