<div class="metricsexplained">
    <h1 id="headline">FuPS Konzepte</h1>


    <h2>Hohe Leistungsanforderungen</h2>
    <markdown ngPreserveWhitespaces>
        *Nebenläufigkeit* im Kontext zu hohen Leistungsanforderungen spielt eine große Rolle in der Funktionalen Programmierung, im Bezug zu Effizienz
        eines Programms. Durch das dynamische hinzufügen oder entfernen von Ressourcen,  können Prozesse skaliert werden. Dadurch können diese schnelle ausgeführt
        oder abgebremst werden. 

        Desweiteren erlaubt die Nebenläufigkeit ein Maß an Fehlertoleranz. 

        Wo ist nun der zusammenhang zur Funktionalen-Programmierung?

        Dieser liegt in der *Immutability*. 
        Da bei Nebenläufigen Prozessen mehrere Prozesse auf einem Datensatz arbeiten, ist es von hoher bedeutung, dass diese Prozesse nichts an den Daten ändern.
        Sollte dies nämlich der Fall sein, so würden andere Prozesse die im selben Speicherbereich arbeiten mit anderen Werten rechnen.


        **Lazy Evaluation** ...
    </markdown>


    <h2>Skalierbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        *Verteiltes Rechnen* ist vor allem durch Erlang sehr beliebt geworden. 
        Hierbei werden auf verschiedenen Host's Erlangs Runtimes installiert, welche dann VM's für die Prozesse spawnen, welche dann mit den anderen
        VM's auf anderen Systemen kommunizieren, um einen Prozess auszuführen. Einen Host oder Server nennt man dann Node. Die Prozesse können
        sowohl intern, als auch extern mit anderen Prozessen auf anderen Host's kommunizieren.
        Die Prozesse finden sich über einen *pid* (Processidentifier), welche über eine interne DNS geroutet werden.
        Der zusammenhang zum FuPS liegt hier in der *Immutability* durch die Nebenläufigkeit.      

    </markdown>
    

    <h2>Nebenläufigkeitsanforderungen</h2>
    <markdown ngPreserveWhitespaces>                
        **Immutable Datenstrukturen**
    </markdown>
  
    
    <h2>Wartbar- und Erweiterbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        Higher-Order-Funtctions
        
        "Immutability"
        
        "Pure Functions"
        
        "ADT"
        
        "Pattern-Matching"
    </markdown>


    <h2>Datenintensiv</h2>
    <markdown ngPreserveWhitespaces>
        "MapReduce"
        
        "Higher-Order-Funtctions"
        
        "Lazy Evaluation"
        
        "Nebenläufigkeit"
    </markdown>


    <h2>Testbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        "Pure Functions"
        
        "Mocking und Dependency-Injection"
    </markdown>


    <h2>Sicherheitsanforderungen</h2>
    <markdown ngPreserveWhitespaces>
        "Immutability"
        
        "Immutable Structures"
        
        "Pure Functions"
        
        "Typesafety"
    </markdown>


    <h2>Geringe Latenz</h2>
    <markdown ngPreserveWhitespaces>
        "Leightweight Processes"
        
        "Asynchronous Programming"
        
        "Reactive Streams"
    </markdown>


    <h2>Fehlertoleranz</h2>
    <markdown ngPreserveWhitespaces>
        "Immutability"
        
        "Pure Functions"
        
        "Monitoring"
        
        "Fehlerbehandlungsmonaden"
    </markdown>

</div>
