<div class="metricsexplained">
    <h1 id="headline">FuPS Konzepte</h1>

    <h2>Parallelität</h2>
    <markdown ngPreserveWhitespaces>
        **Parallelität** spielt in der Funktionalen-Programmierung eine wichtige Rolle im Bezug auf Effizienz, insbesondere
        bei der Verarbeitung von großen Datenmengen.
        
        Des Weiteren ist es auch sehr wichtig für Fehlertoleranz und somit auch die Ausfallsicherheit eines Systems.
        Dies liegt besonders bei Erlang im Fokus. In Erlang sind Multi-Core-Prozesse möglich. Ein Prozess spawnt eine VM
        in einer Server Instanz und ist somit vom weiteren Kontext isoliert. Dies führt dazu, dass ein Ausfall des spezifischen
        Prozesses, nicht zum Ausfall des gesamten Systems führt.

        Ein Weiterer Punkt ist auch die Nebenläufigkeit. Dadurch ist es möglich mehrere Prozesse gleichzeitig auszuführen.

        Skalierbarkeit ist hier auch wichtig. Laufzeiten können durch das Hinzufügen von weiteren Ressourcen verkürzt werden.

        Um all dies sicher umsetzen zu können, spielt auch Immutability (Unveränderlichkeit) eine große Rolle. So kann garantiert werden,
        dass ein Prozess keine Daten ändert.
    </markdown>


    <h2>Hohe Leistungsanforderungen</h2>
    <markdown ngPreserveWhitespaces>
        Bei hohen Leistungsanforderungen schneidet die Funktionale-Programmierung eher schlecht ab.
    </markdown>


    <h2>Skalierbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        *Verteiltes Rechnen* 
        
        
        "Nachrichtenübermittlung"
        
        "Aktorenmodell"
        
        "Überwachungsstrukturen"
    </markdown>
    

    <h2>Nebenläufigkeitsanforderungen</h2>
    <markdown ngPreserveWhitespaces>
        "Leichte Prozesse"
        
        "Nachrichtenübermittlung"
        
        "Software-Transaction-Speicher (STM)"
        
        "Sperrfreie Datenstrukturen"
    </markdown>
  
    
    <h2>Wartbar- und Erweiterbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        Higher-Order-Funtctions
        
        "Immutability"
        
        "Pure Functions"
        
        "ADT"
        
        "Pattern-Matching"
    </markdown>


    <h2>RT-Anwendungen</h2>
    <markdown ngPreserveWhitespaces>
        "Reactive Programming"
        
        "FRP"
    </markdown>


    <h2>Datenintensiv</h2>
    <markdown ngPreserveWhitespaces>
        "MapReduce"
        
        "Higher-Order-Funtctions"
        
        "Lazy Evaluation"
        
        "Parallelität"
    </markdown>


    <h2>Testbarkeit</h2>
    <markdown ngPreserveWhitespaces>
        "Pure Functions"
        
        "Mocking und Dependency-Injection"
    </markdown>


    <h2>Sicherheitsanforderungen</h2>
    <markdown ngPreserveWhitespaces>
        "Immutability"
        
        "Immutable Structures"
        
        "Pure Functions"
        
        "Typesafety"
    </markdown>


    <h2>Geringe Latenz</h2>
    <markdown ngPreserveWhitespaces>
        "Leightweight Processes"
        
        "Asynchronous Programming"
        
        "Reactive Streams"
    </markdown>


    <h2>Fehlertoleranz</h2>
    <markdown ngPreserveWhitespaces>
        "Immutability"
        
        "Pure Functions"
        
        "Monitoring"
        
        "Fehlerbehandlungsmonaden"
    </markdown>

</div>
