<div class="selectiondiv">
    <div class="section selectionheadline">
        <div class="headlinetext">
            <h1>Funktionale-Konzepte</h1>
            <h3>
                Auf dieser Seite sind Funktionale-Konzepte in den folgenden Seiten erklärt. 
                Diese können wie Karteikarten zum lernen genutzt werden.
            </h3>
        </div>
    </div>
    <div class="section initbuttons projectswithfup">
        <h2>Funktional programmierte Projekte</h2>
        <button (dblclick)="openDialog('WhatsApp')" cdkDrag>WhatsApp</button>
        <button (dblclick)="openDialog('LiChess')" cdkDrag>LiChess</button>
        <button (dblclick)="openDialog('Playframework')" cdkDrag>Playframework</button>
    </div>
    <div class="section initbuttons functionalconcepts">
        <h2>Funktionale Konzepte</h2>
        <button (dblclick)="openDialog('Pure Functions')" cdkDrag class="pf">Pure Functions</button>
        <button (dblclick)="openDialog('Higher Order Functions')" cdkDrag id="hof">Higher Order Functions</button>
        <button (dblclick)="openDialog('Immutability')" cdkDrag id="imm">Immutability</button>
        <button (dblclick)="openDialog('Rekursion')" cdkDrag id="mon">Rekursion</button>
        <button (dblclick)="openDialog('Lazy Evaluation')" cdkDrag>Lazy Evaluation</button>
        <button (dblclick)="openDialog('Pattern Matching')" cdkDrag id="pm">Pattern Matching</button>
    </div>
    <div class="section initbuttons purefunction">
        <h2>Pure Functions</h2>
        <button (dblclick)="openDialog('Verteiltes Rechnen')" cdkDrag id="vr">Verteiltes Rechnen</button>
        <button (dblclick)="openDialog('Wartbar-, Erweiterbar- und Testbarkeit')" cdkDrag>Wartbar-, Erweiterbar- und Testbarkeit</button>
    </div> 
    <div class="section initbuttons hof">
        <h2>Higher Order Functions</h2>
        <button (dblclick)="openDialog('Datenintensiv')" cdkDrag>Datenintensiv</button>
        <button (dblclick)="openDialog('Funktionskomposition')" cdkDrag>Funktionskomposition</button>
        <button (dblclick)="openDialog('Currying')" cdkDrag>Currying</button>
    </div>
    <div class="section initbuttons immutability">
        <h2>Immutability</h2>
        <button (dblclick)="openDialog('Nebenläufigkeit')" cdkDrag>Nebenläufigkeit</button>
        <button (dblclick)="openDialog('Persistente Datenstrukturen')" cdkDrag>Persistente Datenstrukturen</button>
    </div>
    <div class="section initbuttons patternmatching">
        <h2>Pattern Matching</h2>
        <button (dblclick)="openDialog('Compilerbau')" cdkDrag>Arten des Pattern-Matchings</button>
    </div>
</div>