<div class="selectiondiv">
    <div class="selectionheadline">
        <h1>Funktionale-Konzepte</h1><br>
    </div>
    <div class="selectionoptions">
        <form action="" class="selectionform" >
            <button (click)="openVR()">{{ listValues[0] }}</button>
            <button (click)="openConc()">{{ listValues[1] }}</button>
            <button (click)="openWE()">{{ listValues[2] }}</button>
            <button (click)="openD()">{{ listValues[3] }}</button>
            <button (click)="openSec()">{{ listValues[4] }}</button>
            <button (click)="openFault()">{{ listValues[6] }}</button>
        </form>
    </div>  
</div>