// Make Root div flex to make child divs share one row.
.selectiondiv {
  display: flex;
  height: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

// Make both child divs have an equal width such that they share a row.
.selectionheadline, .selectionoptions {
  flex: 1;
}

.selectionheadline {
  // Ausrichtung eines divs
  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 10px;
}

.selectionoptions {
  // Ausrichtung eines divs
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

}

.selectionform {
  display: flex;
  align-items: left;
  flex-direction: column;
}

form {
  // Für Padding zwischen den Buttons
  padding: 2px;
}


// Buttondimensionen, immer hier ändern.
$buttonwidth: 225px;
$buttonheight: 50px;

$buttoncornerradius: 100px;

button {
  // Designs für die buttons selbst
  background-color: whitesmoke;

  // Dimensionen der Buttons
  width: $buttonwidth;
  height: $buttonheight;

  border-radius: $buttoncornerradius;

  &:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
}

.selected {
  background-color: rgb(40, 94, 76);
}