@mixin center-text{
  text-align: center;
}

@mixin center-items-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Make Root div flex to make child divs share one row.
.selectiondiv {
  display: flex;
  height: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

// Make both child divs have an equal width such that they share a row.
.selectionheadline, .selectionoptions {
  flex: 1;
}

h1 {
  background-color: white;
  border-radius: 100px;
  @include center-text
}

.selectionheadline {
  // Ausrichtung eines divs
  @include center-items-div;

  padding-right: 10px;
}

.functionalconcepts {
  @include center-items-div;

  flex-direction: column;

  padding-right: 20px;
}


.gran1, .gran2 {
  display: flex;
  align-items: center;

  flex-direction: column;

  padding-left: 20px;
}


.selectionoptions {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

}



// Buttondimensionen, immer hier ändern.
$buttonwidth: 225px;
$buttonheight: 50px;

$buttoncornerradius: 100px;

button {
  // Designs für die buttons selbst
  background-color: whitesmoke;
  margin-bottom: 20px;

  // Dimensionen der Buttons
  width: $buttonwidth;
  height: $buttonheight;

  border-radius: $buttoncornerradius;

  &:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
}

div {
  margin-right: 80px;
}
