$button-width: 200px; 
$button-height: 40px; 
$button-color: #f0f0f0; 
$button-hover-color: #dcdcdc; 
$button-padding: 20px; 

.selectiondiv {
    display: flex;
    justify-content: space-between;
}

.selectionheadline {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selectionheadline, form {
    width: 45%;
}

form > input {
  display: inline-block;
  width: $button-width;
  height: $button-height;
  background-color: $button-color;
  color: #333; 
  text-align: center;
  line-height: $button-height;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: $button-padding; 

  &:last-child {
    margin-right: 0; 
  }

  &:hover {
    background-color: $button-hover-color;
  }

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
