/* You can add global styles to this file, and also import other style files */
html, body{
    background-color: rgb(0, 0, 0);
    scroll-snap-type: y mandatory;
    color: white;
}

body {
    margin: 0;
}

